interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2016-12-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/operations/b196f305-f3fe-42af-97f9-e7959ee05e0a?monitor=true&api-version=2016-12-01']
      retry-after: ['17']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/operations/b196f305-f3fe-42af-97f9-e7959ee05e0a?monitor=true&api-version=2016-12-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","kind":"Storage","location":"westus","name":"clitest000002","properties":{"creationTime":"2017-06-15T23:18:09.6101234Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","file":"https://clitest000002.file.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/"},"primaryLocation":"westus","provisioningState":"Succeeded","statusOfPrimary":"available","supportsHttpsTrafficOnly":false},"sku":{"name":"Standard_LRS","tier":"Standard"},"tags":{},"type":"Microsoft.Storage/storageAccounts"}

        '}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2016-12-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","permissions":"Full","value":"CcpPuFHAYIELXvbS65SdjltfrtT+LIG6q9fY6mjRwMJppy3TJ6ehMyMHbRi56TEUQXSFU0jHPfN8+qwhsvuL0Q=="},{"keyName":"key2","permissions":"Full","value":"bV1EqEedXLGkcJ21/cGA3pZBHrlQKi/PHz57S4lVzdA/0gILfY4Ncb66E7qfS7AcDD7vUrofrB0uqGAqFBQG8w=="}]}

        '}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: 'b''{"name": "clireg000003", "type": "Microsoft.ContainerRegistry/registries"}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/checkNameAvailability?api-version=2017-03-01
  response:
    body: {string: '{"nameAvailable":true}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"name": "cliregrnee6l4eggdy231829", "type": "Microsoft.Storage/storageAccounts"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/checkNameAvailability?api-version=2016-12-01
  response:
    body: {string: '{"nameAvailable":true}

        '}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: 'b''{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"registryName": {"type": "string",
      "metadata": {"description": "The name of the container registry."}}, "registryLocation":
      {"type": "string", "metadata": {"description": "The location of the container
      registry. This cannot be changed after the resource is created."}}, "registrySku":
      {"type": "string", "defaultValue": "Basic", "metadata": {"description": "The
      SKU of the container registry."}}, "registryApiVersion": {"type": "string",
      "defaultValue": "2017-03-01", "metadata": {"description": "The API version of
      the container registry."}}, "storageAccountName": {"type": "string", "metadata":
      {"description": "The name of the storage account used by the container registry."}},
      "storageAccountSku": {"type": "string", "defaultValue": "Standard_LRS", "metadata":
      {"description": "The SKU of the storage account."}}, "adminUserEnabled": {"type":
      "bool", "defaultValue": false, "metadata": {"description": "The value that indicates
      whether the admin user is enabled."}}}, "resources": [{"name": "[parameters(\''storageAccountName\'')]",
      "type": "Microsoft.Storage/storageAccounts", "location": "[parameters(\''registryLocation\'')]",
      "apiVersion": "2016-12-01", "tags": {"containerregistry": "[parameters(\''registryName\'')]"},
      "sku": {"name": "[parameters(\''storageAccountSku\'')]"}, "kind": "Storage",
      "properties": {"encryption": {"services": {"blob": {"enabled": true}}, "keySource":
      "Microsoft.Storage"}}}, {"name": "[parameters(\''registryName\'')]", "type":
      "Microsoft.ContainerRegistry/registries", "location": "[parameters(\''registryLocation\'')]",
      "apiVersion": "[parameters(\''registryApiVersion\'')]", "sku": {"name": "[parameters(\''registrySku\'')]"},
      "dependsOn": ["[resourceId(\''Microsoft.Storage/storageAccounts\'', parameters(\''storageAccountName\''))]"],
      "properties": {"adminUserEnabled": "[parameters(\''adminUserEnabled\'')]", "storageAccount":
      {"name": "[parameters(\''storageAccountName\'')]", "accessKey": "[listKeys(resourceId(\''Microsoft.Storage/storageAccounts\'',
      parameters(\''storageAccountName\'')), \''2016-12-01\'').keys[0].value]"}}}]},
      "parameters": {"registryName": {"value": "clireg000003"}, "registryLocation":
      {"value": "westus"}, "registrySku": {"value": "Basic"}, "adminUserEnabled":
      {"value": false}, "storageAccountName": {"value": "cliregrnee6l4eggdy231829"}},
      "mode": "Incremental"}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/Microsoft.ContainerRegistry","name":"Microsoft.ContainerRegistry","properties":{"templateHash":"14893233190879403876","parameters":{"registryName":{"type":"String","value":"clireg000003"},"registryLocation":{"type":"String","value":"westus"},"registrySku":{"type":"String","value":"Basic"},"registryApiVersion":{"type":"String","value":"2017-03-01"},"storageAccountName":{"type":"String","value":"cliregrnee6l4eggdy231829"},"storageAccountSku":{"type":"String","value":"Standard_LRS"},"adminUserEnabled":{"type":"Bool","value":false}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-06-15T23:18:31.1579133Z","duration":"PT0.0918075S","correlationId":"638529d7-560a-4f35-b1ba-1542bc8fa9a3","providers":[{"namespace":"Microsoft.Storage","resourceTypes":[{"resourceType":"storageAccounts","locations":["westus"]}]},{"namespace":"Microsoft.ContainerRegistry","resourceTypes":[{"resourceType":"registries","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/cliregrnee6l4eggdy231829","resourceType":"Microsoft.Storage/storageAccounts","resourceName":"cliregrnee6l4eggdy231829"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/cliregrnee6l4eggdy231829","resourceType":"Microsoft.Storage/storageAccounts","resourceName":"cliregrnee6l4eggdy231829","actionName":"listKeys","apiVersion":"2016-12-01"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000003","resourceType":"Microsoft.ContainerRegistry/registries","resourceName":"clireg000003"}]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/Microsoft.ContainerRegistry/operationStatuses/08587040381744115178?api-version=2017-05-10']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.insights/eventtypes/management/values?api-version=2015-04-01&$filter=eventTimestamp%20ge%202017-05-05T07%3A18%3A31Z%20and%20correlationId%20eq%20%27638529d7-560a-4f35-b1ba-1542bc8fa9a3%27
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.insights/eventtypes/management/values?api-version=2015-04-01&$filter=eventTimestamp%20ge%202017-05-05T07%3A18%3A53Z%20and%20correlationId%20eq%20%27638529d7-560a-4f35-b1ba-1542bc8fa9a3%27
  response:
    body: {string: '{"value":[{"authorization":{"action":"Microsoft.Storage/storageAccounts/write","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/cliregrnee6l4eggdy231829"},"caller":"doyou@microsoft.com","channels":"Debug","claims":{"aud":"https://management.core.windows.net/","iss":"https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/","iat":"1497567036","nbf":"1497567036","exp":"1497570936","_claim_names":"{\"groups\":\"src1\"}","_claim_sources":"{\"src1\":{\"endpoint\":\"https://graph.windows.net/00000000-0000-0000-0000-000000000000/users/a8db5e3c-0725-4628-a658-26b33e5e4caa/getMemberObjects\"}}","http://schemas.microsoft.com/claims/authnclassreference":"1","aio":"Y2ZgYPiQ81+XWeeKx+L1x75FLbogYvVW/FnrS99ePf9DgQdEpG0B","http://schemas.microsoft.com/claims/authnmethodsreferences":"rsa,mfa","appid":"04b07795-8ddb-461a-bbee-02f9e1bf7b46","appidacr":"0","e_exp":"262800","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname":"You","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname":"Dongjiang","in_corp":"true","ipaddr":"167.220.0.144","name":"Dongjiang
        You","http://schemas.microsoft.com/identity/claims/objectidentifier":"a8db5e3c-0725-4628-a658-26b33e5e4caa","onprem_sid":"S-1-5-21-2127521184-1604012920-1887927527-21588747","platf":"3","puid":"10037FFE9849482B","http://schemas.microsoft.com/identity/claims/scope":"user_impersonation","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier":"2M9-3tYPJrSYWkOxb_HhbPca8Co1YPSXXnu-EbJ3fUY","http://schemas.microsoft.com/identity/claims/tenantid":"72f988bf-86f1-41af-91ab-2d7cd011db47","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name":"doyou@microsoft.com","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn":"doyou@microsoft.com","ver":"1.0"},"correlationId":"638529d7-560a-4f35-b1ba-1542bc8fa9a3","description":"","eventDataId":"88a92bd0-4d91-4571-8f52-5db8c369e9b0","eventName":{"value":"EndRequest","localizedValue":"End
        request"},"category":{"value":"Administrative","localizedValue":"Administrative"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/cliregrnee6l4eggdy231829/events/88a92bd0-4d91-4571-8f52-5db8c369e9b0/ticks/636331655171676613","level":"Informational","resourceGroupName":"clitest.rg000001","resourceProviderName":{"value":"Microsoft.Storage","localizedValue":"Microsoft.Storage"},"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/cliregrnee6l4eggdy231829","resourceType":{"value":"Microsoft.Storage/storageAccounts","localizedValue":"Microsoft.Storage/storageAccounts"},"operationId":"480f9621-b532-4df4-be4e-4e98443b9348","operationName":{"value":"Microsoft.Storage/storageAccounts/write","localizedValue":"Microsoft.Storage/storageAccounts/write"},"properties":{"statusCode":"Accepted","statusMessage":"\"Resource
        provisioning is in progress.\""},"status":{"value":"Succeeded","localizedValue":"Succeeded"},"subStatus":{"value":"","localizedValue":""},"eventTimestamp":"2017-06-15T23:18:37.1676613Z","submissionTimestamp":"2017-06-15T23:18:50.3562214Z","subscriptionId":"84c559c6-30a0-417c-ba06-8a2253b388c3","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},{"authorization":{"action":"Microsoft.Storage/storageAccounts/write","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/cliregrnee6l4eggdy231829"},"caller":"doyou@microsoft.com","channels":"Operation","claims":{"aud":"https://management.core.windows.net/","iss":"https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/","iat":"1497567036","nbf":"1497567036","exp":"149[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08587040381744115178?api-version=2017-05-10
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000003?api-version=2017-03-01
  response:
    body: {string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000003","name":"clireg000003","location":"westus","tags":{},"properties":{"loginServer":"clireg000003.azurecr.io","creationDate":"2017-06-15T23:19:07.7662098Z","provisioningState":"Succeeded","adminUserEnabled":false,"storageAccount":{"name":"cliregrnee6l4eggdy231829"}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: 'b''{"name": "clireg000003", "type": "Microsoft.ContainerRegistry/registries"}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/checkNameAvailability?api-version=2017-03-01
  response:
    body: {string: '{"nameAvailable":false,"reason":"AlreadyExists","message":"The
        registry clireg000003 is already in use."}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries?api-version=2017-03-01
  response:
    body: {string: '{"value":[{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000003","name":"clireg000003","location":"westus","tags":{},"properties":{"loginServer":"clireg000003.azurecr.io","creationDate":"2017-06-15T23:19:07.7662098Z","provisioningState":"Succeeded","adminUserEnabled":false,"storageAccount":{"name":"cliregrnee6l4eggdy231829"}}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"tags": {"foo": "bar", "cat": ""}, "properties": {"adminUserEnabled":
      true}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000003?api-version=2017-03-01
  response:
    body: {string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000003","name":"clireg000003","location":"westus","tags":{"foo":"bar","cat":""},"properties":{"loginServer":"clireg000003.azurecr.io","creationDate":"2017-06-15T23:19:07.7662098Z","provisioningState":"Succeeded","adminUserEnabled":true,"storageAccount":{"name":"cliregrnee6l4eggdy231829"}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000003/listCredentials?api-version=2017-03-01
  response:
    body: {string: '{"username":"clireg000003","passwords":[{"name":"password","value":"/=+l+/E=+Z=X1cBSOs+6qC6G50+M86Vj"},{"name":"password2","value":"+/N//B+BY/=++Bj+=Rh5rHh+UIBYVAY2"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"name": "password"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000003/regenerateCredential?api-version=2017-03-01
  response:
    body: {string: '{"username":"clireg000003","passwords":[{"name":"password","value":"n+/WNExXB=QO/rFD0xTOndWktkqAtXhd"},{"name":"password2","value":"+/N//B+BY/=++Bj+=Rh5rHh+UIBYVAY2"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2017-05-10
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/acr-common-layers/providers/Microsoft.ContainerRegistry/registries/acrservice"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clireg000003.azurecr.io/v2/
  response:
    body: {string: '{"errors":[{"code":"UNAUTHORIZED","message":"authentication required","detail":null}]}

        '}
    headers:
      content-type: [application/json; charset=utf-8]
      docker-distribution-api-version: [registry/2.0]
      www-authenticate: [Basic realm="Azure Container Registry"]
    status: {code: 401, message: Unauthorized}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clireg000003.azurecr.io/v2/_catalog
  response:
    body: {string: '{"repositories":[]}

        '}
    headers:
      content-type: [application/json; charset=utf-8]
      docker-distribution-api-version: [registry/2.0]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage%2FstorageAccounts%27&api-version=2017-05-10
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/acr-common-layers/providers/Microsoft.Storage/storageAccounts/acrcommonlayers1","na[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdJMk9TWktFRzVGUU5RVVY1VERZTDYyS1lGRlBSUEtEVlZQM3xCNkQxMDgyRTNGQ0VFRDFDLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      retry-after: ['15']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
version: 1
