interactions:
- request:
    body: '{"location": "westcentralus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westcentralus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 201, message: Created}
- request:
    body: 'b''{"name": "clireg000002", "type": "Microsoft.ContainerRegistry/registries"}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/checkNameAvailability?api-version=2017-03-01
  response:
    body: {string: '{"nameAvailable":true}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: 'b''{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"registryName": {"type": "string",
      "metadata": {"description": "The name of the container registry."}}, "registryLocation":
      {"type": "string", "metadata": {"description": "The location of the container
      registry. This cannot be changed after the resource is created."}}, "registrySku":
      {"type": "string", "defaultValue": "Managed_Standard", "metadata": {"description":
      "The SKU of the container registry."}}, "registryApiVersion": {"type": "string",
      "defaultValue": "2017-06-01-preview", "metadata": {"description": "The API version
      of the container registry."}}, "adminUserEnabled": {"type": "bool", "defaultValue":
      false, "metadata": {"description": "The value that indicates whether the admin
      user is enabled."}}}, "resources": [{"name": "[parameters(\''registryName\'')]",
      "type": "Microsoft.ContainerRegistry/registries", "location": "[parameters(\''registryLocation\'')]",
      "apiVersion": "[parameters(\''registryApiVersion\'')]", "sku": {"name": "[parameters(\''registrySku\'')]"},
      "properties": {"adminUserEnabled": "[parameters(\''adminUserEnabled\'')]"}}]},
      "parameters": {"registryName": {"value": "clireg000002"}, "registryLocation":
      {"value": "westcentralus"}, "registrySku": {"value": "Managed_Standard"}, "adminUserEnabled":
      {"value": false}}, "mode": "Incremental"}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/Microsoft.ContainerRegistry","name":"Microsoft.ContainerRegistry","properties":{"templateHash":"5391745780994016228","parameters":{"registryName":{"type":"String","value":"clireg000002"},"registryLocation":{"type":"String","value":"westcentralus"},"registrySku":{"type":"String","value":"Managed_Standard"},"registryApiVersion":{"type":"String","value":"2017-06-01-preview"},"adminUserEnabled":{"type":"Bool","value":false}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-06-15T23:17:17.8477482Z","duration":"PT0.5545034S","correlationId":"a33ca55d-637f-4cf3-abac-d876cc7ffbec","providers":[{"namespace":"Microsoft.ContainerRegistry","resourceTypes":[{"resourceType":"registries","locations":["westcentralus"]}]}],"dependencies":[]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/Microsoft.ContainerRegistry/operationStatuses/08587040382481843695?api-version=2017-05-10']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.insights/eventtypes/management/values?api-version=2015-04-01&$filter=eventTimestamp%20ge%202017-05-05T07%3A17%3A18Z%20and%20correlationId%20eq%20%27a33ca55d-637f-4cf3-abac-d876cc7ffbec%27
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.insights/eventtypes/management/values?api-version=2015-04-01&$filter=eventTimestamp%20ge%202017-05-05T07%3A17%3A36Z%20and%20correlationId%20eq%20%27a33ca55d-637f-4cf3-abac-d876cc7ffbec%27
  response:
    body: {string: '{"value":[{"authorization":{"action":"Microsoft.Resources/deployments/write","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/Microsoft.ContainerRegistry"},"caller":"doyou@microsoft.com","channels":"Operation","claims":{"aud":"https://management.core.windows.net/","iss":"https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/","iat":"1497567036","nbf":"1497567036","exp":"1497570936","_claim_names":"{\"groups\":\"src1\"}","_claim_sources":"{\"src1\":{\"endpoint\":\"https://graph.windows.net/00000000-0000-0000-0000-000000000000/users/a8db5e3c-0725-4628-a658-26b33e5e4caa/getMemberObjects\"}}","http://schemas.microsoft.com/claims/authnclassreference":"1","aio":"Y2ZgYPiQ81+XWeeKx+L1x75FLbogYvVW/FnrS99ePf9DgQdEpG0B","http://schemas.microsoft.com/claims/authnmethodsreferences":"rsa,mfa","appid":"04b07795-8ddb-461a-bbee-02f9e1bf7b46","appidacr":"0","e_exp":"262800","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname":"You","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname":"Dongjiang","in_corp":"true","ipaddr":"167.220.0.144","name":"Dongjiang
        You","http://schemas.microsoft.com/identity/claims/objectidentifier":"a8db5e3c-0725-4628-a658-26b33e5e4caa","onprem_sid":"S-1-5-21-2127521184-1604012920-1887927527-21588747","platf":"3","puid":"10037FFE9849482B","http://schemas.microsoft.com/identity/claims/scope":"user_impersonation","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier":"2M9-3tYPJrSYWkOxb_HhbPca8Co1YPSXXnu-EbJ3fUY","http://schemas.microsoft.com/identity/claims/tenantid":"72f988bf-86f1-41af-91ab-2d7cd011db47","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name":"doyou@microsoft.com","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn":"doyou@microsoft.com","ver":"1.0"},"correlationId":"a33ca55d-637f-4cf3-abac-d876cc7ffbec","description":"","eventDataId":"4f9900aa-24f3-4f21-85ce-6bcb9536c13a","eventName":{"value":"EndRequest","localizedValue":"End
        request"},"category":{"value":"Administrative","localizedValue":"Administrative"},"httpRequest":{"clientRequestId":"c2976568-5220-11e7-8311-480fcf61db4b","clientIpAddress":"167.220.0.144","method":"PUT"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/Microsoft.ContainerRegistry/events/4f9900aa-24f3-4f21-85ce-6bcb9536c13a/ticks/636331654381256074","level":"Informational","resourceGroupName":"clitest.rg000001","resourceProviderName":{"value":"Microsoft.Resources","localizedValue":"Microsoft
        Resources"},"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/Microsoft.ContainerRegistry","resourceType":{"value":"Microsoft.Resources/deployments","localizedValue":"Microsoft.Resources/deployments"},"operationId":"a33ca55d-637f-4cf3-abac-d876cc7ffbec","operationName":{"value":"Microsoft.Resources/deployments/write","localizedValue":"Microsoft.Resources/deployments/write"},"properties":{"statusCode":"Created","serviceRequestId":null},"status":{"value":"Accepted","localizedValue":"Accepted"},"subStatus":{"value":"Created","localizedValue":"Created
        (HTTP Status Code: 201)"},"eventTimestamp":"2017-06-15T23:17:18.1256074Z","submissionTimestamp":"2017-06-15T23:17:29.3573542Z","subscriptionId":"84c559c6-30a0-417c-ba06-8a2253b388c3","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08587040382481843695?api-version=2017-05-10
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/Microsoft.ContainerRegistry","name":"Microsoft.ContainerRegistry","properties":{"templateHash":"5391745780994016228","parameters":{"registryName":{"type":"String","value":"clireg000002"},"registryLocation":{"type":"String","value":"westcentralus"},"registrySku":{"type":"String","value":"Managed_Standard"},"registryApiVersion":{"type":"String","value":"2017-06-01-preview"},"adminUserEnabled":{"type":"Bool","value":false}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2017-06-15T23:17:25.7630485Z","duration":"PT8.4698037S","correlationId":"a33ca55d-637f-4cf3-abac-d876cc7ffbec","providers":[{"namespace":"Microsoft.ContainerRegistry","resourceTypes":[{"resourceType":"registries","locations":["westcentralus"]}]}],"dependencies":[],"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002?api-version=2017-03-01
  response:
    body: {string: '{"sku":{"name":"Managed_Standard","tier":"Managed"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002","name":"clireg000002","location":"westcentralus","tags":{},"properties":{"loginServer":"clireg000002.azurecr.io","creationDate":"2017-06-15T23:17:24.7602462Z","provisioningState":"Succeeded","adminUserEnabled":false}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: 'b''{"name": "clireg000002", "type": "Microsoft.ContainerRegistry/registries"}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/checkNameAvailability?api-version=2017-03-01
  response:
    body: {string: '{"nameAvailable":false,"reason":"AlreadyExists","message":"The
        registry clireg000002 is already in use."}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries?api-version=2017-03-01
  response:
    body: {string: '{"value":[{"sku":{"name":"Managed_Standard","tier":"Managed"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002","name":"clireg000002","location":"westcentralus","tags":{},"properties":{"loginServer":"clireg000002.azurecr.io","creationDate":"2017-06-15T23:17:24.7602462Z","provisioningState":"Succeeded","adminUserEnabled":false}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"tags": {"foo": "bar", "cat": ""}, "properties": {"adminUserEnabled":
      true}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002?api-version=2017-03-01
  response:
    body: {string: '{"sku":{"name":"Managed_Standard","tier":"Managed"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002","name":"clireg000002","location":"westcentralus","tags":{"foo":"bar","cat":""},"properties":{"loginServer":"clireg000002.azurecr.io","creationDate":"2017-06-15T23:17:24.7602462Z","provisioningState":"Succeeded","adminUserEnabled":true}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/listCredentials?api-version=2017-03-01
  response:
    body: {string: '{"username":"clireg000002","passwords":[{"name":"password","value":"D+IS=/7=H2HaxgSR+0wQLIn4rEqgMWHQ"},{"name":"password2","value":"i//+=++=B/+/ia=7ghO+om=MDcr+jKW6"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"name": "password"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/regenerateCredential?api-version=2017-03-01
  response:
    body: {string: '{"username":"clireg000002","passwords":[{"name":"password","value":"/Gb=Nkm/glb+QWYAgeXMRZDJBhjubiQt"},{"name":"password2","value":"i//+=++=B/+/ia=7ghO+om=MDcr+jKW6"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2017-05-10
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/acr-common-layers/providers/Microsoft.ContainerRegistry/registries/acrservice"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clireg000002.azurecr.io/v2/
  response:
    body: {string: '{"errors":[{"code":"UNAUTHORIZED","message":"authentication required","detail":null}]}

        '}
    headers:
      content-type: [application/json; charset=utf-8]
      docker-distribution-api-version: [registry/2.0]
      www-authenticate: ['Bearer realm="https://cliregkrg47rihbit37cqrmxseardrib6j2deicrydcvn42tya.azurecr.io/oauth2/token",service="cliregkrg47rihbit37cqrmxseardrib6j2deicrydcvn42tya.azurecr.io"']
    status: {code: 401, message: Unauthorized}
- request:
    body: b'grant_type=refresh_token&service=clireg000002.azurecr.io&tenant=72f988bf-86f1-41af-91ab-2d7cd011db47&refresh_token=AQABAAAAAABnfiG-mA6NTae7CdWW7QfdZJIq3c2VcV20AOZfx5Ne8pqpY62eDbjDv4VeutBqwq38OTpgEkEc2K3lkYmxmJwUH484VvMBLeRWJPiRXdUT07ssa-3axs_AMhs8dnvt5HjW5Tbvb6jMk2EvshhVTEjituOOqY18ZzBMvZVy8YFJ8i5gXP7aqjqFheshwGoXoK7xww7TDzp_2WYYchcba02p308CSl-eNX2hcvvnxrdgnfKotymJIkk_OvvH9lozMJcZqRhpK_u2VOFFggFIFQEu93rhMsyG3FUx-CMf6iLP6drB5fHoTQDbgt6Srj_Gq4xq6vDDEUtyEnb8GQ1A6TaBxEPONMp9gs6IecZB5Tsw3dllLaXyDHFYsLxC3_WseN0NotMe1yLdo9nch2l5t8tZ8PZN88y203JFXYKQH_bKhbzJLFW1vWyS6UYtNOD2tjGQ8IqRqB7CzEnsRcnnKnEutvUheQn_yWoPlrS1tlnovp_NLbepqbe44tuQ2xON1XmnHeAytXbKtStvIp1Kay1ry7PiePM4A_pwf9_wgaVcqOeuRlNJRbx7ik-Wwzzg60TBPU5EkA3aXPnLMArZfg8yFjuvHe522KXdGQ2GrL7nI_l3gss_4eA7BUTRPWvFUoXc-QzieSSChrJ0Hb0xgGnlh4k2SjGU-rI5SXHwRHwCC5P3s1M1BiwmhiWP000saTeaivtAIi1NyNdm6Q6dRcevvqVa2F-CiH5XlJUrJPxgIRfzndB-g-hnB_b7IN8M5RrOLtacOEHQshBYgCDQ4ngaNU6nbqH98IAqoMqFSYoI6SQ90v8MNGhZc4_oCgRFLz54bKO6ub_Qas71L_rUqdQHegjG6xjzi6tv6QcrOjp6S0Cc8NfrJxMQ4wPOh_GNgB1f0BCCtoLxy_59cwn1iGZ9fgmVslnP9ceraNUKkXQkKOLFvTxqiknJHt8xTNPmVH0gAA'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://clireg000002.azurecr.io/oauth2/exchange
  response:
    body: {string: '{"refresh_token":"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IlBLNlg6TFJZQTo2WEtQOldKVkk6WlRXNzpXWjQ3OklONTI6QU5JSzpMNTM3OlZUTVU6QjVWTjpJRlhVIn0.eyJqdGkiOiI5MzNhNWExZC0wNjdkLTRlZTktYTg4Ny02NjYxODIyMjk2OTIiLCJzdWIiOiJkb3lvdUBtaWNyb3NvZnQuY29tIiwibmJmIjoxNDk3NTY3NzgzLCJleHAiOjE0OTc1NzIyNzksImlhdCI6MTQ5NzU2Nzc4MywiaXNzIjoiQXp1cmUgQ29udGFpbmVyIFJlZ2lzdHJ5IiwiYXVkIjoiY2xpcmVna3JnNDdyaWhiaXQzN2Nxcm14c2VhcmRyaWI2ajJkZWljcnlkY3ZuNDJ0eWEuYXp1cmVjci5pbyIsInZlcnNpb24iOiIxLjAiLCJncmFudF90eXBlIjoicmVmcmVzaF90b2tlbiIsInRlbmF[...]
- request:
    body: b'grant_type=refresh_token&service=clireg000002.azurecr.io&scope=registry%3Acatalog%3A%2A&refresh_token=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IlBLNlg6TFJZQTo2WEtQOldKVkk6WlRXNzpXWjQ3OklONTI6QU5JSzpMNTM3OlZUTVU6QjVWTjpJRlhVIn0.eyJqdGkiOiI5MzNhNWExZC0wNjdkLTRlZTktYTg4Ny02NjYxODIyMjk2OTIiLCJzdWIiOiJkb3lvdUBtaWNyb3NvZnQuY29tIiwibmJmIjoxNDk3NTY3NzgzLCJleHAiOjE0OTc1NzIyNzksImlhdCI6MTQ5NzU2Nzc4MywiaXNzIjoiQXp1cmUgQ29udGFpbmVyIFJlZ2lzdHJ5IiwiYXVkIjoiY2xpcmVna3JnNDdyaWhiaXQzN2N[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clireg000002.azurecr.io/v2/_catalog
  response:
    body: {string: '{"repositories":[]}

        '}
    headers:
      content-type: [application/json; charset=utf-8]
      docker-distribution-api-version: [registry/2.0]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkc3NE5KQUZXTEM0N0lWVjZaRVhTUUhZUUNBUktaNkVPRkdLWXxGMkM5Q0QyMzJGN0U0QzdELVdFU1RDRU5UUkFMVVMiLCJqb2JMb2NhdGlvbiI6Indlc3RjZW50cmFsdXMifQ?api-version=2017-05-10']
      retry-after: ['15']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
version: 1
